
<form method="post" >
    <div style="display:flex; justify-content:center; align-items: center; text-align:center">
        <div>
            <div style="margin-top: 20px;display: flex; flex-direction:column">
                <label for="firstName">Iм'я</label>
                <input type="text" name="firstName" required id="firstName" style="outline:none; border-radius:10px ;border:1px solid lightgrey">
            </div>
            <div style="margin-top: 20px;display: flex; flex-direction:column" >
                <label for="secondName">Прізвище</label>
                <input type="text" name="secondName" required id="secondName" style="outline:none; border-radius:10px ;border:1px solid lightgrey" >
            </div>
            <div style="margin-top: 20px;display: flex; flex-direction:column">
                <label for="fileName">Файл</label>
                <input type="text" name="fileName" required id="secondName" style="outline:none; border-radius:10px ;border:1px solid lightgrey" >
            </div>
            <div style="margin-top: 20px">
                <input type="submit"value="Next" style="width: 100%; background: lightblue; border:none;border-radius: 10px; color: #fff"></input>
            </div>
        </div>
    </div>
</form>